.hamburger {
    display: none;
}
nav ul {
    display: none;
}

@media screen and (max-width: 768px) {
    .grid-container figure img {
        max-width: 80%;
    }
    .hamburger {
        display: block;
    }
    .hamburger.close {
        display: none;
    }
    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
